.divider {
  width: 50%;
  height: 15px;
  border-bottom: 1px solid #aaa;
  color: #666;
  text-align: center;
  margin: 10px 25% 25px;
}
.divider span {
  font-size: 20px;
  background-color: white;
  padding: 0 9px;
}
