#id_avatar {
  visibility:hidden;
  width:0;
  height:0;
  z-index:-1;
}
#avatar-clear_id {
  visibility:hidden;
  width:0;
  height:0;
  z-index:-1;
}

#base-card {
  width:95%;
  max-width:340px;
}

.base-language-toggle {
  position: absolute;
  top:8px;
  right:1.5rem;
  color:white;
}

.language-toggle {
  position: absolute;
  top:.9rem;
  right:1.5rem;
}

.account-menu-container {
  background: #FEFEFE;
}

.account__top-bar {
    padding: 1rem 1.5rem 1.5rem;
    position:relative;
}

.page-heading {
  width:100%;
  padding: 1em 2em;
}

.page-heading h1 {
  color: white !important;
}

.errorlist {
  list-style:none;
  padding:0;
  font-weight: bold;
  color:#e00;
}
.password_field {
  position:relative;
}
.password__toggle {
  position: absolute;
  right:0;
  top:0;
  padding: 0.4rem 0.4rem 0.6rem;
  cursor:pointer;
}
.password__toggle svg{
  width:2rem;
  height:2rem;
  fill:#b4b4b4;
  transition:fill 0.2s;
}
.password__toggle svg:hover {
  fill:#757575;
}
.capslock {
  font-weight: bold;
  color:#e00;
  margin-bottom: 0;
}

.account-menu__list .account-menu__applist .account-menu__appinfo{
    display: flex;
    justify-content: center;
    align-content: center;
}

.account-menu__applist i {
  width:40px;
}

ul.horizontal.list {
  padding:0;
}

ul.horizontal.list li {
  display:inline-block;
  margin:3px;
}

.invisible {
  clip: rect(1px,1px,1px,1px);
  height:1px;
  margin:0;
  overflow:hidden;
  position:absolute;
  width:1px;
}

#active-sessions {
  width:auto;
  max-width:450px;
}

.register_block {
  display: block;
  margin-top:15px;
}

.fip__signature img {
  height: 100%;
}

.fip__watermark {
  width:139px;
  float:right;
}

.terms_link svg {
  fill: #4183c4;
  width: 13px;
  height: 13px;
  margin-left: 1px;
}

@media (max-width: 1023px) {
    .account-overlay.___profile #show_menu:checked  ~ .account-menu__list {
	     display:block;
       position:absolute;
       z-index:899;
       width:100%;
       background: #FEFEFE;
       box-shadow: 0 0 1em rgba(0, 0, 0, 0.15), 0 0 1em rgba(0, 0, 0, 0.15);
    }
    .account-overlay.___profile #show_menu:checked  ~ .account__top-bar {
	     background:#FEFEFE;
    }
    .account-overlay.___profile #show_menu:not(:checked) ~ .account-menu__list {
        display: none;
    }

    .account-menu-container {
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.15), 0 0 1em rgba(0, 0, 0, 0.15);
    }
    .account__top-bar {
      z-index:900;
      position:relative;
      padding: .75rem 1.5rem !important;
    }

    .stick-offset {
      margin-top:55px !important;
    }

    .base-language-toggle {
      top: 65px;
      right:0.5rem;
      color: black;
    }

    .account-menu__list .account-menu__applist .account-menu__appinfo {
      justify-content: left;
    }
}

@media (max-width: 480px) {
  .fip__signature img {
    display: none;
  }

  .fip__watermark {
    width: 100px;
  }

  footer ul.horizontal.list li {
    display:block;
    margin-bottom:8px;
  }
}
